:root {
  --ocre: #d1451e;
  --coral: #f0633c;
  --coral-claro: #ffdbd1;
  --creme: #fffaf3;
  --verde-escuro: #263a29;
  --verde-medio: #3d6d4a;
  --cinza: #444444;
  --cinza-claro: #efefef;
  --branco: #fff;

  --font-family-default: Nunito Sans, sans-serif;
  --headers: Paytone One, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  border: 0;
  background-color: inherit;
  font: inherit;
}

body {
  min-height: 100vh;
  color: var(--creme);
  font-family: var(--font-family-padrao);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background: url('./images/background-banner.png'),
    var(--verde-escuro, #263a29);
}

.header-lg {
  font-family: Paytone One;
  font-size: 53.7px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.header {
  font-family: Paytone One;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.subtitle-lg {
  font-family: Nunito Sans;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.paragraph-lg {
  font-family: Nunito Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.paragraph {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media only screen and (max-width: 767px) {
  .header-lg {
    font-size: 2.75em;
  }

  .header {
    font-size: 2.3125em;
  }

  .subtitle-lg {
    font-size: 1.625em;
  }
}
